{{#if loading}}
  <h1 class="text-center">Loading</h1>
{{else}}
  {{#if showControls}}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="pull-left">
        {{#paper-button raised=true action="goBack"}}Back{{/paper-button}}
      </div>
      <div class="pull-right">
        {{#if model.isReinforceMode}}
          {{#paper-button raised=true action="endReinforce" param=model}}
            End Reinforce ({{reinforcements}})
          {{/paper-button}}
        {{else if model.isAttackMode}}
          {{#paper-button raised=true action="endTurn" param=model}}
            End Attack
          {{/paper-button}}
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="{{if showControls "nav-padding"}}">
    {{hex-map model=model hexAction=(action "hexAction")}}
  </div>
{{/if}}
